<hr class="gray m_b-10">
<div class="comment-<%= id %>">
    <div class="bold texl-lg"><%= name %></div>
    <div class="text-sm gray m_b-5"><%= created_at %></div>
    <div class="text-sm red m_b-5">Ваш комментарий появится после модерации.</div>
    <div class="m_b-20"><%= content %></div>
</div>
